OPENAI_API_KEY=sk-substitua-pela-chave
DB_URL=jdbc:postgresql://localhost:5432/api_inteligente
DB_USER=api_inteligente
DB_PASSWORD=api_inteligente
JWT_SECRET_BASE64=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
JWT_EXPIRATION_MINUTES=60
